* {
    box-sizing: border-box;
}

body {

    background: lightgrey;
    font-family: Arial;
    padding: 10px;
}






/************************       ENCABEZADO      ************************/

.header {
    background-color: lightgrey;
    padding: 25px;
    text-align: center;
    width: 100%;
}

.header h1 {
    font-size: 50px;
}






/************************       BARRA DE NAVEGACIÓN     ************************/
.barra-navegador {
    background-color: #333;
    overflow: hidden;
}

.barra-navegador a {
    width: 150px;
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.barra-navegador a:hover {
    background-color: #ddd;
    color: black;
}




/************************       COLUMNAS       ************************/

.columna-izquierda {
    float: left;
    width: 80%;

}

.columna-derecha {
    float: left;
    width: 20%;
    padding-left: 20px;
    background-color: lightgrey;
}









/************************       TARJETAS       ************************/

/********   DE LA IZDA    ******/

.tarjeta {
    padding: 10px 20px 30px 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}

.columna-izquierda {

}


.columna-izquierda a {
    width: 190px;
    display: block;
    background-color: #55efc4;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.tarjeta a:hover {

    background-color: #81ecec ;

}

.columna-izquierda h2 {

    font-size: 30px;

}


.enlace-nuevo-tema a {
    width: 250px;
    background-color: #fdcb6e;
}

.enlace-nuevo-tema a:hover {
    background-color: #ffeaa7;
}

.numero-comentarios {
    font-weight: bold;
    font-size: 20px;
}


.titulo-tema a {
    width: 250px;
    background-color: #fdcb6e;
}

.titulo-tema a:hover {
    background-color: #ffeaa7;
}

/********   DE LA DRCHA    ******/

.texto-privilegio {
    font-weight: bold;
}

.boton-inicio-sesion {
    background-color: #fdcb6e;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
}

.boton-inicio-sesion:hover {
    background-color: #ffeaa7;
    cursor: pointer;
}


.boton-registrarse {
    background-color: #fdcb6e;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
}

.boton-registrarse:hover {
    background-color: #ffeaa7;
    cursor: pointer;
}

.enlace-cerrar-sesión {
    margin-top: 25px;
    text-align: center;
}

.enlace-cerrar-sesión a {
    background-color: #d63031;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.enlace-cerrar-sesión a:hover {
    background-color: #fab1a0;
    color: black;
}

.texto-sesion-iniciada {
    text-align: center;
}

.columna-derecha {
    text-align: center;
}







/************************       FORMULARIO NUEVO TEMA       ************************/


.contenedor-formulario-tema {
    text-align: center;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-nuevo-tema {
    font-size: 24px;
    font-weight: bold;
}

.input-tema-nuevo {
    width: 450px;
    padding: 12px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.boton-nuevo-tema {
    background-color: #fdcb6e;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
}

.boton-nuevo-tema:hover {
    background-color: #ffeaa7;
    cursor: pointer;
}





.contenedor-formulario-comentario {
    text-align: center;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-nuevo-comentario{
    font-size: 24px;
    font-weight: bold;
}

.input-comentario-nuevo {
    width: 450px;
    padding: 12px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.boton-nuevo-comentario {
    background-color: #fdcb6e;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
}

.boton-nuevo-comentario:hover {
    background-color: #ffeaa7;
    cursor: pointer;
}







/************************       MAIN       ************************/

.main:after {
    content: "";
    display: table;
    clear: both;
}









/************************       INICIO SESION / REGISTRO       ************************/

.inicio-registro {
    float: right;
}







/************************       PIE DE PÁGINA       ************************/

.pie-pagina {
    padding: 20px;
    text-align: center;
    background: lightgrey;
    margin-top: 20px;
}




/************************       MEDIAS RESPONSIVE     ************************/

@media screen and (max-width: 800px) {
    .columna-izquierda, .columna-derecha {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .barra-navegador a {
        float: none;
        width: 100%;
    }
}